.New {
  max-height: calc(100% - 111px); 
  display: flex;
  flex-direction: column;
  font-size: 26px;
}

.New h2 {
  margin: 26px 0 0 0;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 400 !important;
  border-bottom: 2px solid #fff;
}

.New .form-container{
  height: inherit;
  overflow-y: auto;
}

.New form {
  max-height:100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.New label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

label.check {
  flex-direction: row;
  justify-content: space-between;
}

.New textarea {
  resize: vertical;
}

.New input,
.New select,
.New textarea {
  font-size: 26px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px;
}

.New input:focus,
.New select:focus,
.New textarea:focus {
  outline: none;
}

.New input.checkbox {
  width: 26px;
}

.New button {
  width: 200px;
  font-size: 26px;
  margin: 10px auto;
  border: none;
  background-color: #fff;
  color: #47b2ffff;
  padding: 10px;
}

.New button:hover {
  background-color: #e5edf3;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px solid #fff;
}

.container input:checked~.checkmark {
  background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6.5px;
  top: 2.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tiny {
  font-size: 16px;
  padding-bottom: 5px;
}

@media screen and (min-width: 580px) {
  .New {
    max-height: calc(100% - 123px); 
  }
}

@media screen and (min-width: 765px) {
  .New {
    max-height: calc(100% - 75px); 
  }
}

@media screen and (min-width: 890px) {
  .New {
    max-height: calc(100% - 110px); 
  }
}

@media screen and (min-width: 1050px) {
  .New {
    max-height: calc(100% - 130px); 
  }
}