nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    text-shadow: 2px 2px 2px #00000030;
    margin-left: 10px;
}

nav a{
    text-decoration: none !important;
}

nav a p{
    width: 280px;
    font-size: 25px;
    margin: 5px;
    color: #47b2ffff;
}

nav a p:hover{
    color: #7cc8ff;
    animation: rise .2s ease-in forwards;
}

nav .loading{
    width: 280px;
    font-size: 30px;
    margin: 5px;
    color: #47b2ffff;
}

@media screen and (min-width: 765px) {
    nav a p{
        font-size: 30px;
    }
  }