.Loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loading img {
    width: 50%;
    animation: spin 8s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }

    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}