.User{
    display: flex;
    flex-direction: column;
    font-size: 26px;
}

.User a{
    color: inherit;
    text-decoration: none;
}

.User a:hover .italic{
    text-decoration: underline;
}

.User button{
    width: 50%;
    background: none;
    border: none;
    font-size: 26px;
    color: #fff;
    padding: 10px;
}

.User .media{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #329dea;
}

.last{
    border-bottom: none !important;
}

.User .no-underline{
    border-bottom: none;
}

.User .details{
    color: #1a74b5;
    margin-left: 20px;
}

.User .list{
    height: calc(100vh - 460px);
    margin: 20px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    overflow-y: scroll;
}

.User .formats{
    display: flex;
    justify-content: center;
}

.User .selected{
    background: #fff;
    color: #47b2ffff;

}

.User .owner{
    color: #47b2ffff;
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 5px #0000002d;
    text-align: center;
    margin-bottom: 0;
}

@media screen and (min-width: 580px) {
    .User .list {
        height: calc(100vh - 390px);
    }
}