.Destroy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.Destroy h2{
    font-size: 40px;
    border-bottom: none;
}

.Destroy p{
    font-size: 26px;
}

.delete-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.delete-options .delete,
.delete-options .cancel{
    width: 50%;
    padding: 10px;
    font-size: 26px;
}

.delete-options .delete{
    background-color: #eb2e2e;
    border: none;
    color: #fff;
}

.delete-options .cancel{
    background-color: #fff;
    border: none;
    color: #47b2ffff;
}

.delete-options .delete:hover{
    background-color: #c02323;
}

.delete-options .cancel:hover{
    background-color: #e5edf3;
}