@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

*{
  box-sizing: border-box;
}

.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
}

h1{
  font-family: "Libre Barcode 39 Text", sans-serif;
  font-weight: 400;
  font-size: 100px;
  color: #fff;
  margin-bottom: 0;
}

button{
  font-family: Arial, Helvetica, sans-serif;
}

a:any-link{
  text-decoration: none;
}

.blu-rave{
  font-weight: bold;
  font-style: italic;
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.underline{
  text-decoration: underline;
}

textarea{
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rise {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-2px);
  }
}