.Home{
    height: calc(100vh - 300px);
    overflow-y: scroll;
}

.Home p {
    font-size: 26px;
    color: #fff;
}

.Home .hello {
    font-weight: bold;
}

@media screen and (min-width: 580px) {
    .Home{
        height: calc(100vh - 210px);
    }
    
}
