footer{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 0 20px;
}

footer p{
    color: #47b2ffff;
    text-shadow: 1px 1px 1px #00000030;
    text-align: center;
    font-size: 16px;
}

footer:hover a{
    text-decoration: underline;
}