.Feed{
    max-height: calc(100% - 230px);
}

.Feed h2{
    font-size: 30px;
    font-weight: 400;
}

.Feed .feed-list{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    overflow-y: auto;
}

.Feed .feed-list-container{
    max-height: 100%;
    display: flex;
    flex-direction: column;
}