.Feed{
    max-height: calc(100% - 230px);
}

.Feed h2{
    font-size: 30px;
    font-weight: 400;
}

.Feed .feed-list{
    height: inherit;
    margin: 20px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    overflow-y: auto;
}

.Feed .feed-list-container{
    max-height:100%
}

/* @media screen and (min-width: 580px) {

    .Feed .feed-list {
    height: calc(100vh - 350px);
    }
}

@media screen and (min-width: 765px) {
    .Feed .feed-list {
        height: calc(100vh - 250px);
    }
}

@media screen and (min-width: 890px) {

    .Feed .feed-list {
        height: calc(100vh - 270px);
    }
}

@media screen and (min-width: 1050px) {

    .Feed .feed-list {
        height: calc(100vh - 290px);
    }
} */