.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Header a {
    text-decoration: none;
}

.Header h1 {
    font-size: 45px;
    margin: 0;
}

@media screen and (min-width: 580px) {
    .Heade h1{
        font-size: 60px;
    }
}

@media screen and (min-width: 890px) {
    .Header h1 {
        font-size: 80px;
    }
}

@media screen and (min-width: 1050px) {
    .Header h1 {
        font-size: 100px;
    }
}