.Header {
    display: flex;
    flex-direction: column;
}

.Header a {
    text-decoration: none;
}

.Header h1 {
    font-size: 60px;
    margin: 30px 0 0 0;
}

@media screen and (min-width: 580px) {
    .Header{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 890px) {
    .Header h1 {
        font-size: 80px;
    }
}

@media screen and (min-width: 1050px) {
    .Header h1 {
        font-size: 100px;
    }
}