.Index{
    display: flex;
    flex-direction: column;
    font-size: 26px;
}

.Index button{
    width: 50%;
    background: none;
    border: none;
    font-size: 26px;
    color: #fff;
    padding: 10px;
}

.Index .media{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #329dea;
}

.Index .no-underline{
    border-bottom: none;
}

.Index .details{
    color: #1a74b5;
    margin-left: 20px;
}

.Index .list{
    height: calc(100vh - 338px);
    margin: 20px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    overflow-y: scroll;
}

.Index .formats{
    display: flex;
    justify-content: center;
}

.Index .selected{
    background: #fff;
    color: #47b2ffff;

}